@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
}

body {
  margin: 0;
  color: #282828;
  background-color: var(--color-stone-100);
}

@layer base {
  button,
  a {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
  }
}

@theme {
  --font-roboto: "Roboto", arial, sans-serif;
}
